<DOCTYPE html>
<html>
	<head>
	         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	         <script src='/static/js/search-bar.js'></script>
	         <script src='/static/js/parse-elastic.js'></script>
	         <script src='/static/js/parse.js'></script>
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">	
	</head>
	<body>
		<header class="textoru-header">
			<div class="black-menu">
				<h1>hello world</h1>
				<img src="/static/Textoru_Logo_final_icon.svg"/>
			</div>
			<div class="search-bar">
				<img src="#"/>
				<form action="performSearch">
					<input type="text" placeholder="Search in the text ... " name="search" id="search-input">
					<input type="submit" id="submit-search">
				</form>
			</div>
		</header>
		<div class="content"></div>
	</body>
</html>


